<div class="CenterNav">

  <h2 class="b-head">Manage Users</h2>
  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
  <div class="create-user">
    <div class="cu-c1"><a href="#" title="Create New User"><img src="images/add_user.jpg" width="17" height="16" alt="img" /> Create New User</a></div>
    <div class="cu-c2">Select Department: <a href="#" title="Social Welfare">Social Welfare <img src="images/down_arrow.jpg" width="7" height="6" alt="img" /></a></div>

  </div>

  <div class="manage-user box">
    <div class="manage-user-row box">
      <div class="mu-c1">
        <a href="#" title="The Melaka  State Office of Land and Mines"><img src="images/img_profile.jpg" alt="Image" width="60" height="60" /></a>
      </div>
      <div class="mu-c2">
        <p class="head1"><a href="#" title="Mani Vannan"><b>Mani Vannan</b></a> <br />123456-78-1234<br />

          <a href="#" title="manisiva19@gmail.com">manisiva19@gmail.com</a> </p>
      </div>
      <div class="mu-c3">
        <a href="#" title="Deactive"><img src="images/deactive.jpg" width="14" height="14" alt="img" />Deactive</a> <a href="#" title="Delete"><img src="images/delete.jpg" width="14" height="14" alt="img" /> Delete</a>
      </div>
    </div>

    <div class="manage-user-row box">
      <div class="mu-c1">
        <a href="#" title="The Melaka  State Office of Land and Mines"><img src="images/img_user2.jpg" alt="Image" width="60" height="60" /></a>
      </div>
      <div class="mu-c2">
        <p class="head1"><a href="#" title="Sathish"><b>Sathish</b></a> <br />111111-22-4444<br />
          <a href="#" title="sathish@gmail.com">sathish@gmail.com</a> </p>

      </div>
      <div class="mu-c3">
        <a href="#" title="Deactive"><img src="images/deactive.jpg" width="14" height="14" alt="img" />Deactive</a> <a href="#" title="Delete"><img src="images/delete.jpg" width="14" height="14" alt="img" /> Delete</a>
      </div>
    </div>

  </div>
  <div class="clear"></div>


</div>
</div>
</div>
</div>
</div>

