<div class="CenterNav">
  <h2 style="text-decoration:blink">Messages Coming Soon....</h2>
  <div class="postedMsg-con">
    <div class="postedMsg-row box">
      <div class="postedMsg-img">
        <a href="#" title="The Melaka  State Office of Land and Mines"><img src="images/img_user1.jpg" alt="Image" width="60" height="60" /></a>
      </div>
      <div class="postedMsg-txt">
        <p class="head1"><a href="#" title="The Melaka  State Office of Land and Mines"><b>The Melaka  State Office of Land and Mines</b></a> <br />Transfered <a href="#" title="Jaleel Rahman">Jaleel Rahman</a> to <a href="#" title="The Melaka Syariah Court">The Melaka Syariah Court</a> </p>
        <div class=""></div>
        <p class="PM-des"><a href="#" title="Comment">Comment</a> &nbsp; - &nbsp; 12 hours ago</p>
      </div>
    </div>
    <div class="postedMsg-row box">
      <div class="postedMsg-img">
        <a href="#" title="Social Welfare Department of Melaka"><img src="images/img_user2.jpg" alt="Image" width="60" height="60" /></a>
      </div>
      <div class="postedMsg-txt">
        <p class="head1"><a href="#" title="Social Welfare Department of Melaka"><b>Social Welfare Department of Melaka</b></a> <br />Merged with <a href="#" title="The Melaka Syariah Court">The Melaka Syariah Court</a> </p>
        <div class=""></div>
        <p class="PM-des"><a href="#" title="Comment">Comment</a> &nbsp; - &nbsp; 12 hours ago</p>
      </div>
    </div>
  </div>
</div>