<div class="form-sec-row">
  <span class="in-box">
    <%= select(:std,:agency, Agency.where(:deleted => false).collect {|p| [ p.name, p.id ] },:selected=>@type,:prompt => "Select Agency") %>
  </span>
</div>
<div class="form-sec-row">
  <span class="in-box">
    <%= select(:std,:departments, Department.active.where(:agency_id => "#{@type}").collect {|p| [ p.name, p.id ] },:prompt => "Select Department") %>
  </span>
</div>