<div class="clearfix"></div>
<div class="CenterNav">
  <div class="form-sec">
    <% if ((@category && !@category.empty?) || current_user.is_super_admin?) %>
      <%=render :partial=>"form" %>
    <%else%>
      <div class="form-sec">
        <h2><%=t('labels.denial_transport')%></h2>
      </div>
    <%end%>
  </div>
</div>
