<% @conversation_group_name.each do |conversation_group_name|%>
  <% user_name = User.find_by_id(conversation_group_name.user_id) %>
  <table width ="100%" cellpadding="0" cellspacing="5" align="center" >
    <tr>
      <td width="30%" align="left"> <%image_url= !user_name.avatar.nil? && !user_name.avatar.url(:thumb).nil? ? (image_tag(user_name.avatar.url(:thumb), :alt=>"Image", :width=>"30", :height=>"30")) : (image_tag "no_photo_small.jpg", :alt=>"Image", :width=>"30", :height=>"30")  %>
        <%=image_url%><br/>
        <font color="#369"><b><%= user_name.username %></b></font></td>
      <td width="30%" align="left"><%= conversation_group_name.content %></td>
      <td width="30%" align="left"><%= time_ago_in_words(conversation_group_name.created_at).gsub('about','') + ' ago' %></td>
    </tr>
  </table><h2 class="b-head"></h2>
<%end%>



