<%if controller_name.to_s != 'sessions' && action_name.to_s != 'new'  %>
  </div>
  </div>
  </div>
  </div>
<%end%>
<div class="clear"></div>
<!--BODY END-->
<%if controller_name.to_s == 'sessions' && action_name.to_s == 'new'  %>
  <div class="footer-in">
    <div class="land-footer-r">Copyright &copy; 2012 Melaka</div>
    Designed &amp; Developed by <a href="http://www.openwavecomp.com/" title="Openwave Computing" target="_blank">Openwave Computing.</a>
    <div class="land-footer-l">
      <ul>
        <li><a href="#" title="Feedback">Feedback</a></li>
        <li>-</li>
        <li><a href="#" title="Privacy">Privacy</a></li>
        <li>-</li>
        <li><a href="#" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
        <li>-</li>
        <li><a href="#" title="Help">Help</a></li>
        <%=render :partial=>"shared/cms_footer_page"%>
      </ul>
    </div>
  </div>
<%else%>
  <div id="Footer">
    <div class="fCity"></div>
    <div class="footer-in">
      <div class="land-footer-r">Copyright &copy; 2012 Melaka</div>
      <div class="land-footer-l">
        <ul>
          <li><a href="#" title="Feedback">Feedback</a></li>
          <li>-</li>
          <li><a href="#" title="Privacy">Privacy</a></li>
          <li>-</li>
          <li><a href="#" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
          <li>-</li>
          <li><a href="#" title="Help">Help</a></li>
          <%=render :partial=>"shared/cms_footer_page"%>
        </ul>
      </div>
      Designed &amp; Developed by <a href="http://www.openwavecomp.com/" title="Openwave Computing" target="_blank">Openwave Computing.</a>
    </div>
    <div class="clear"></div>
  </div>
<%end%>

<div class="clear"></div>
<!--BODY END-->
</div>