<div class="LCNav-con">
  <div id="maincontent">
    <div id="linkblock" class="leftNav">
      <div id="control">
        <a id="controlbtn" class="open" href="#" alt="Side Panel">Side Panel</a>
      </div>
      <div class="profInfo">
        <div class="profInfo-img box">
          <img src="../images/img_event3.jpg" alt="Image" width="120" height="120" />
          <p>Private</p>
        </div>
        <ul>
          <li><a href="#" title="Daily Updates" class="selected"><img src="../images/icn_news.png" alt="Image" width="16" height="16" />Daily Updates</a></li>
          <li><a href="#" title="Messages"><img src="../images/icn_email.png" alt="Image" width="16" height="16" /><span class="notifiNo">5</span>Messages</a></li>
          <li><a href="#" title="Events"><img src="../images/icn_calendar.png" alt="Image" width="16" height="16" />Events</a></li>
          <li><a href="#" title="Find User"><img src="../images/icn_user.png" alt="Image" width="16" height="16" />Find User</a></li>
          
        </ul>
      </div>
      <div class="clear"></div>
      <div class="leftNav-links box">
        <h2>Alerts</h2>
        <ul>
         
          <li><a href="#" title="User Activation">Today's Task</a></li>
         
        </ul>
      </div>
      <div class="clear"></div>
      <div class="leftNav-links box">
        <h2>Department Info</h2>
        <ul>
          
          <li><a href="#" title="Department details">Department details</a></li>
         
          <li><a href="#" title="View Vendors">View Vendors</a></li>
          <li><a href="#" title="Resources">Resources</a></li>
          <li><a href="#" title="View Resources">View Resources</a></li>
          <li><a href="#" title="My Newsletter">My Newsletter</a></li>
          <li><a href="#" title="Email Template">Email Template</a></li>
          <li><a href="#" title="View Events">View Events</a></li>
         
        </ul>
      </div>
    </div>