<div class="LCNav-con">
  <div id="maincontent">
    <div id="linkblock" class="leftNav">
      <div id="control">
        <a id="controlbtn" class="open" href="#" alt="Side Panel">Side Panel</a>
      </div>
      <div class="profInfo">
        <div class="profInfo-img box">
          <img src="../images/img_profile.jpg" alt="Image" width="120" height="120" />
          <p>Private</p>
        </div>
        <ul>
          <li><a href="#" title="Daily Updates" class="selected"><img src="../images/icn_news.png" alt="Image" width="16" height="16" />Daily Updates</a></li>
          <li><a href="#" title="Messages"><img src="../images/icn_email.png" alt="Image" width="16" height="16" /><span class="notifiNo">5</span>Messages</a></li>
          <li><a href="#" title="Events"><img src="../images/icn_calendar.png" alt="Image" width="16" height="16" />Events</a></li>
          <li><a href="#" title="Find User"><img src="../images/icn_user.png" alt="Image" width="16" height="16" />Find User</a></li>
          <li><a href="#" title="Uploaded Files"><img src="../images/attach.png" alt="Image" width="16" height="16" />Uploaded Files</a></li>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="leftNav-links box">
        <h2>Alerts</h2>
        <ul>
          <li><a href="#" title="Admin Activation"><span class="notifiNo">3</span>Admin Activation</a></li>
          <li><a href="#" title="User Activation">User Activation</a></li>
          <li><a href="#" title="User Transfer Request">User Transfer Request</a></li>
          <li><a href="#" title="Resource Booking ">Resource Booking</a></li>
          <li><a href="#" title="Complaints"><span class="notifiNo">9</span>Complaints</a></li>
          <li><a href="#" title="Resource Requisition ">Resource Requisition </a></li>
          <li><a href="#" title="Issue Log">Issue Log </a></li>
          <li><a href="#" title="Change Requests">Change Requests</a></li>
          <li><a href="#" title="Cancelled Requests">Cancelled Requests</a></li>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="leftNav-links box">
        <h2>Management Tools</h2>
        <ul>
          <li><a href="#" title="Departments" class="selected">Departments</a>
            <ul>
              <li><a href="/departments/create" title="Create New">Create New</a></li>
              <li><a href="/departments/edit" title="edit">Update </a></li>
              <li><a href="#" title="Merge Or Split">Merge Or Split</a></li>
            </ul>
          </li>
          <li><a href="#" title="Admin">Admin</a></li>
          <li><a href="#" title="Users">Users</a></li>
          <li><a href="#" title="Vendors">Vendors</a></li>
          <li><a href="#" title="Resources">Resources</a></li>
          <li><a href="#" title="Content Management">Content Management</a></li>
          <li><a href="#" title="Newsletter">Newsletter</a></li>
          <li><a href="#" title="Email Template">Email Template</a></li>
          <li><a href="#" title="Events">Events</a></li>
          <li><a href="#" title="Advertisements">Advertisements</a></li>
          <li><a href="#" title="Archives">Archives</a></li>
          <li><a href="#" title="Site Analytics">Site Analytics</a></li>
        </ul>
      </div>
    </div>