<!--BODY START-->
<div id="Body">
  <div class="pageContainer box">
    <div class="rightNav">
      <div class="resourceApps box">
        <div class="weather">
                        	Melaka<br />
          <span>Temp: 31°C </span>
        </div>
        <div id="pr-time">
          <script type="text/javascript" src="http://locateandpray.islamicnature.com/code/?placeaddress=Jalan+Durian+Daun%2C+Kampung+Durian+Daun+Lama%2C+75400+Melaka%2C+Malaysia&amp;tf=24&amp;method=mwl&amp;madhab=shafii&amp;ia=17&amp;fa=18&amp;lng=102.25616&amp;lat=2.20568&amp;tz=8.0"></script>
        </div>
        <h2>Resource Apps</h2>
        <ul>
          <li><a href="#" title="Resource Booking ">Resource Booking </a></li>
          <li><a href="#" title="Complaints">Complaints</a></li>
          <li><a href="#" title="Resource Requisition">Resource Requisition</a></li>
          <li><a href="#" title="Issue Log ">Issue Log </a></li>
          <li><a href="#" title="Change Request ">Change Request </a></li>
        </ul>
      </div>
      <div class="recentEvents box">
        <h2>Upcoming Events</h2>
        <ul>
          <li>
            <div class="event-img"><a href="#" title=""><img src="images/img_event1.jpg" alt="Image" width="50" height="50" /></a></div>
            <div class="event-txt">
              <a href="#" title="Melaka International con..">Melaka International con..</a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, </p>
            </div>
          </li>
          <li>
            <div class="event-img"><a href="#" title="High level State Govern..."><img src="images/img_event2.jpg" alt="Image" width="50" height="50" /></a></div>
            <div class="event-txt">
              <a href="#" title="High level State Govern...">High level State Govern...</a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, </p>
            </div>
          </li>
          <li>
            <div class="event-img"><a href="#" title="4th Malaysian State Con..."><img src="images/img_event3.jpg" alt="Image" width="50" height="50" /></a></div>
            <div class="event-txt">
              <a href="#" title="4th Malaysian State Con...">4th Malaysian State Con...</a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="rAds"><img src="images/rads.jpg" alt="Image" width="205" height="295" /></div>
    </div>
