<div class="clearfix"></div>
<div class="CenterNav">
  <div class="form-sec">
    <h2 class="b-head">List of Event</h2><br/><br/>
  <%= link_to "Visible Events", events_path, %><br/><br/>
  <%= link_to "Invisible Events", hide_index_events_path%>
  </div>
</div>