<div class="clearfix"></div>
<div class="CenterNav">
  <div class="form-sec">
    <h2 class="b-head"><%=t('labels.list_of_events')%></h2><br/><br/>
  <%= link_to t('labels.visible_events'), events_path, %><br/><br/>
  <%= link_to t('labels.invisible_events'), hide_index_events_path%>
  </div>
</div>
