<div class="CenterNav">
  <h2 class="b-head">Manage Drivers</h2>
  <div class="create-user">
    <div class="cu-c1"><a href="/drivers/new" title="Create Driver"><img src="../images/add_user.jpg" width="17" height="16" alt="img" /> Create Driver</a></div>

  </div>
  <div id="div_ajax" >
    <%if @drivers && !@drivers.empty?%>
      <%  @drivers.each do |driver|%>
        <div class="manage-user box">
          <div class="manage-user-row box">
            <div class="mu-c1">
            </div>
            <div class="mu-c2">
              <p class="head1">
                <b><%= driver.name %></b><br/>
                <b><%= driver.telephone_number %></b></p>
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
